
/*Спецификация*/
/*General page*/
html{
	font-size: 15px;
}


body{
	font-family: 'Gilroy', sans-serif;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	
}


a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}


div,p,a,form,ul,li,button,input,span{
    box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}


/* Шапка */

 .main_overlay{
    width:1160px;
    height: 301px;
    background:#f7e296;
    margin-top: -35px;
    
}

.header_logo_name{
    margin-top: 25px;
    margin-left: 60px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;   
}

 a:hover{
    opacity: 0.6;
    color: #000;

}

 a:active{
    opacity: 0.3;
    color: #000;
}


.main_search{
    padding-top: 45px;
    padding-left: 60px;
}

.main_search_name{
    font-family: "Open Sans", serif;
    font-weight: lighter;
    float: right;
    margin-left: 15px;
    opacity: 0.3;

}

.catalog_list{
    margin-top: 51px;
    padding-left: 60px;
}
.catalog_name{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000;
}

i.fa-plus{
    opacity: 0.5;
    font-size: 15px;
    
}

.user_navigation{
    margin-top: 45px;
}
.user_links{
    float: left;   
}

.link_update{
    font-family: 'Open Sans',sans-serif;
    color: #000000;
    font-weight: 200;
}


.login_link{
    margin-right: 214px;
}


.compare_link{
    margin-right: 40px;
}

.item_update{
 font-size: 18px;
 font-weight: bolder;
 color:#000;
 text-transform: uppercase;
 letter-spacing: 0.1em;
}


.delivery_item{
    margin-right: 40px;
}

.contacts_item{
    margin-left: 120px;
}

.menu_item{
    margin-top: 64px;
    float: left;
}

/* Слайды */

.slider_image{
    position: relative;
    top: -100px;
    left: 60px;
}

.slider_line{
    position: relative;
    border: 1px solid #fff;
    background: #fff;
    width: 99px;
    height: 8px;
    top: -70px;
    left: 20px;
}

.slider_number{
    font-size: 180px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 315px;
    top: -92px;

}
 .slider_title{
     font-size: 47px;
     font-weight: bold;
     width: 392px;
     margin-top: 39px;
     
 }
.slider_text{
    font-weight: lighter;
    width: 495px;
    line-height: 2em;
    margin-top: 35px;
    margin-left: 10px;
    margin-bottom: 60px;
  
}



.slider_button_item{
    border: 1px solid #f0c52e;
    width: 218px;
    height: 8px;
	text-align: center;
    background: #f0c52e;
    cursor: pointer;
    position: absolute;
}

.act{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold; 
    letter-spacing: 0.15em;
    color: #000;
    position: relative;
    top: -10px;
    
   
}



.slider_button_item:hover{ 
    height: 40px;
    padding: 14px 42px 14px 42px
 
}

.slider_button_item:active{
   
    opacity:0.3;
   
}

.slider_button{
    margin-bottom: 124px;
}


.slider_table{
 width: 457px;
}

.slider_table_column{
 font-size: 36px;
 font-weight: 100;
 letter-spacing: 0.1em;
}

.slider_table_cell{
    font-size: 13px;
    font-family: 'Open Sans',sans-serif; 
    

}

/* Slick-Dots */
/* .slick-dotted.slick-slider {
    margin-left: 150px; 
} 


.slick-dots li button {
    width: 10px;
	height: 10px;
	border:1px solid #000;
	border-radius: 50%;
	display: inline-flex;
	margin-right: 5px;
	cursor: pointer;
}

.slick-dots li button:before{
content: '';
}

.slick-dots li button:hover,
.slick-dots li.slick-active button{
background: #000;
}  */

.popular{
    margin-bottom: 181px;
    margin-left: 29px;
}

.popular_item{
    border: 1px solid #f7e296;
    width: 160px;
    height: 160px;
    background:#f7e296;
    margin-bottom: 41px;
}

.popular_box:hover{
    cursor: pointer;
    background: #f0c52e;

}

.popular_item:active{
    opacity: 0.3;
}


.popular_image{
    margin: 40px 0 0 33px; 

}

.left{
    margin-left:52px;
}

.left_last{
    margin-left: 13px;
}

.popular_title{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4em;
    padding-top: 100px; 

}

 .top{
    padding-top: 40px;
}

.top_last{
    padding-top: 70px;
}

.top_first{
    margin-top: -9px;
}

.top_second{
    padding-top: 58px;
}