
/*General page*/

body {
	font-family: 'Gilroy', sans-serif;
	padding: 0px;
	margin: 0px;
    font-size: 15px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Header */
.header-logo {
    position: relative;
    top: 12px;
    left: 58px;
}

.header-logo-name {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;   
} 

.main-overlay {
    width: 1160px;
    height: 301px;
    background:#f7e296;
    margin-top: -35px;
}

.main-navigation li {
    display: block;
}

.header-logo-name:hover {
    opacity: 0.6;
    color: #000;
}

.header-logo-name:active {
    opacity: 0.3;
    color: #000;/
}

.main-search {
    padding-top: 52px;
    padding-left: 22px;
}

.fa-search {
    font-size: 17px;
}

.main-search-name {
    font-family: "Open Sans";
    font-weight: lighter;
    float: right;
    margin-left: 17px;
    opacity: 0.3;
    background: #f7e296;
    border: #f7e296;
    font-size: 15px;
    margin-top: -2px
}

.catalog-list {
    margin-top: 44px;
    padding-left: 18px;
}

.catalog-name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000;
}

i.fa-plus {
    opacity: 0.5;
    font-size: 19px;
    margin-left: 4px;
}

.user-navigation {
    margin-top: -251px;
    margin-right: 102px;
    float: right;
}

.user-links {
    float: left;   
}

.menu-navigation {
    float: right;
    margin-top: -250px;
    margin-right: 96px;
}

.link-update {
    font-family: 'Open Sans',sans-serif;
    color: #000000;
    font-weight: 200;
}

.login-link {
    margin-right: 214px;
}

.compare-link {
    margin-right: 40px;
}

.user-links:hover {
    opacity: 0.6;   
}

.user-links:active {
    opacity: 0.3;   
}

.item-update {
    font-size: 18px;
    font-weight: bolder;
    color:#000;
    text-transform: uppercase;
    letter-spacing: 0.19em;
}

.delivery-item {
    margin-right: 35px;
}

.contacts-item {
    margin-left: 114px;
}

.menu-item {
    margin-top: 64px;
    float: left;
}

/* Slider */

.slider-image {
    position: relative;
    top: -111px;
    left: 87px;
}

.slider-line {
    position: relative;
    border: 1px solid #fff;
    background: #fff;
    width: 99px;
    height: 8px;
    top: -563px;
    right: 502px;
    float: right;
}

.slider-number {
    font-size: 180px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 328px;
    top: -75px;
}

.slider-title {
    font-size: 47px;
    font-weight: bold;
    width: 388px;
    margin-top: 38px;
    margin-left: 2px;    
}

.slider-text {
    font-weight: lighter;
    width: 497px;
    line-height: 2em;
    margin-top: -21px;
    margin-left: -3px;
    letter-spacing: 0.01em;     
}

.button-link {
    text-transform: uppercase;
    color: #000;
    position: relative;
    width: 217px;
    margin-top: 56px;
    text-align: center;
    display: block;
}
  
.button-link:before {
    content: "";
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    width: 100%;
    left: 0;
    right: 0;
    background: #f0c52e;
    transition: 250ms ease-in-out;
}
  
.button-link:hover:before {
    height: 40px;
    margin-top: -20px;
}
  
.button-link {
    position: relative;
    font-size: 18px;
    font-weight: bold; 
    margin-top: -5px;
    letter-spacing: 0.2em;
}

.button-text {
    position: relative;
    z-index: 1;
}

.button:active {
    opacity:0.3; 
}

.slider-button {
    margin-bottom: 66px;
    margin-top: 60px;
}

.slider-table {
    width: 457px;
}

.slider-table-column {
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 0.1em;
}

.slider-table-cell {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif; 
}

/* Popular */
.row {
    margin-left: -15px;
    margin-right: -15px;
}



.popular-font {
    border: 1px solid #f7e296;
    background: #f7e296;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-item {
    float: left;
    padding-right: 25px;
    padding-left: 15px;
    margin-top: -7px;
}

.popular-item:nth-child(6) {
    margin-top: -15px;
}

.popular-font:hover {
    cursor: pointer;
    background: #f0c52e;
}

.popular-item:active {
    opacity: 0.3;
}

.popular-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4em;
    margin-top: 31px;
    width: 160px;   
}

/* Services */

.services {
    height: 287px;
    background: #e5e5e5;
    margin-bottom: 102px;
    margin-top: 410px;
}

.service-header li {
    display: block;
}

.service-button {
    padding: 0;
    margin: 0;
    margin-top: 94px;
}

.service-header {
    float: left;
    width: 285px;
    position: relative;
    margin-top: -100px;
}

.service-button-item {
    width: 160px;
}

.service-button-item + .service-button-item {
    margin-top: 50px;
}

.service-button-link {
    text-transform: uppercase;
    color: #000;
    position: relative;
    display: block;
    text-align: center;
}
  
.service-button-link:before {
    content: "";
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    width: 100%;
    left: 0;
    right: 0;
    background: #f0c52e;
}
  
.service-button-link:hover:before {
    height: 40px;
    width: 280px;
    background: #000000;
    margin-top: -20px;
}


.service-button-item:hover .service-button-link {
    color: #f7e184;
}
.service-button-link:active {
    color: #f7e184;
}


.service-button-link {
    position: relative;
    font-size: 18px;
    font-weight: bold; 
    margin-top: -5px;
    letter-spacing: 0.2em;
    color: #000;
}

.service-header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-right: 7px solid #000;
    height: 320px;
}

.service-button-text {
    position: relative;
    z-index: 1;
}

.service-items {
    float: left;
    margin-top: -70px;
}

.delivery {
    float: left;
    margin-left: 124px;
}

.delivery-title {
    font-size: 47px;
}

.delivery-text {
    font-family: 'Open Sans';
    font-size: 15px;
    width: 433px;
    line-height: 2.1em;
    margin-top: -15px;
    font-weight: bold;
    margin-left: -4px
}

.delivery-image {
    float: right;
    margin-right: -261px;
    margin-top: -173px;
}

.logotypes {
    margin-bottom: 300px;
}

.logotype-items {
    margin-top: -6px;
}

.logotype-image {
    margin-right: 30px;
    opacity: 0.2;
    width: 260px;
    height: 100px;
    filter: grayscale(100%);
    float: left;
    transition: 250ms ease-in;   
}

.logotype-image:hover {
    opacity: 1;
    filter: grayscale(0%);
}    
    
.info {
    margin-bottom: 90px;
}

.info-line {
    border: 1px solid #000;
    width: 80px;
    height: 7px;
    background: #000;
    margin-bottom: 55px;
}

.info-header {
    font-size: 47px;
    margin-top: -12px;
}

.info-text {
    font-family: 'Open Sans';
    font-weight: lighter;
    width: 477px;
    margin-bottom: 25px;
    line-height: 1.9em;
}

.info-items {
    margin-bottom: 76px;
}

.info-slide-button {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;   
}

.button-width {
    width: 260px;
    margin-top: 6px;
}

.contacts {
    float: right;
    margin-top: -523px;
    margin-right: 39px;
}

.contact-text {
    width: 515px;
}

iframe {
    margin-bottom: 41px;
}

.footer {
    background: #464646;
    height: 324px;
}

.footer-items {
    padding-top: 60px;
}

.footer-logo {
    color: #ffc600;
}

.footer-logo:hover {
    color: #ffc600;
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.footer-navigation {
    float: right;
    margin-top: 20px;
}

.footer-link-update {
    font-family: 'Open Sans',sans-serif;
    color: #fff;
    font-weight: 200;
    opacity: 0.7;
}

.footer-link-update:hover {
    opacity: 1;
    color: #fff;
}

.footer-link-update:active {
    opacity: 0.3;
}

.footer-links {
    padding-left: 50px;
}

.nav-icon {
    padding-right: 10px;
}

.footer-address {
    font-family: 'Open Sans';
    font-weight: lighter;
    color: #fff;
    float: left;
    margin-right: 218px;
}

.footer-menu-nav {
    float: right;
    margin-top: 35px;
    margin-right: 336px;
}

.menu-item-nav {
    float: left;
    padding-right: 28px;  
}

.item-color {
    color:#fff;
}

.item-color:hover {
    opacity: 0.6;
    color:#fff;
}

.item-color:active {
    opacity: 0.3;
}

.footer-phone {
    margin-right: -340px;
    float: right;
}

.footer-icons {
    padding-top: 130px;
}

.footer-line {
    border:1px solid #000;
    width: 80px;
    height: 7px;
    background:#ffc600 ;
    margin-bottom: 50px;
}


.footer-icon-item {
    float: left;
    padding-right: 20px;
}

.footer-icon-nav {
    margin-top: -70px;
    margin-left: 549px;
}

.footer-icon {
    opacity: 0.3;
}

.footer-icon:hover {
    opacity: 0.6;
}

.footer-icon:active {
    opacity: 0.1;
}

.logo-html {
    float: right;
}

.logo-html:hover {
    opacity: 0.6;
}

.logo-html:active {
    opacity: 0.3;
}