/*General page*/
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}


*, *::before, *::after{
    box-sizing: border-box;
}

