a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}

* {
    box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}